<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.board.panda.mapper.MemberMapper">
    <resultMap id="Member" type="com.board.panda.model.Member">
        <result property="no" column="no"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
    </resultMap>

    <insert id="insertMember" parameterType="com.board.panda.model.Member">
        insert into member(no , email, password) values ( 3 , 'vipwhy12@naver', '1111')
    </insert>
</mapper>